<header>
        <nav class="navbar navbar-light" style="background-color: rgb(65, 65, 65)">
            <div class="container-fluid nav justify-content-center">
                <p class="navbar-brand" >My Evernote</p>
            </div>
        </nav>
</header>

<br>

<div class="container-fluid">
    <h2 class="text-center">Todo List</h2>
</div>

<br>

 <div class="container-fluid"> 
    <app-todo></app-todo>
</div>
<br>
<footer class="container-fluid text-center">
    <div class="row">

        <div class="col-12 col-md-4">

            <img src="assets/images/git.png" height="50" alt="linkedin" >
            <p>
                <a href="" target="_blank">Github Link</a>

            </p>
        </div>

        <div class="col-12 col-md-4">

            <img src="assets/images/linkedin.png" height="50" alt="linkedin" >
            <p>
                <a href="https://www.linkedin.com/in/paulnetia/" target="_blank">LinkedIn Link</a>
            </p>

        </div>

        <div class="col-12 col-md-4">
            <img src="assets/images/gmail.png" height="50" alt="linkedin" >
            <p>
            email me@   <a href="mailto:netiapaul23@gmail.com" m target="_blank">netiapaul23@gmail.com</a>
            </p>
        </div>

    </div>
</footer>